<% layout('layouts/boilerplate') %>
<div class="container">

    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-6">
            <h1>My Dreams</h1>
            <ul class="list-group list-group-flush" style="margin-top: 70px;">

                <li class="list-group-item">Tags 
                        <% tags.forEach(tag=> { %>
                            <span class="badge text-bg-dark"><%= tag %></span>
                        <% }); %>
                </li>
                <li class="list-group-item">Diaries <span class="badge text-bg-light"><%= dreams.length %></span></li>
                <li class="list-group-item">Likes <span class="badge text-bg-light">
                    <%= dreams.reduce((acc, dream)=> acc + dream.like.length, 0) %>
                </span></li>
            </ul>
        </div>
        <div class="col-md-6">
        <% if (wordCloudImage) { %>
            <img src="<%= wordCloudImage %>" alt="Word Cloud" />
                <% } %>
        </div>
    </div>

    <% if (dreams.length) { %>
        <% for (let dream of dreams) { %>
            <div class="card mb-3">
                <div class="row">
                    <div class="col-md-4">
                        <% if (dream.images.length) { %>
                            <img class="img-fluid" alt="" src="<%= dream.images[0].url %>">
                            <% } else { %>
                                <img class="img-fluid" alt=""
                                    src="https://res.cloudinary.com/dbgkvs7nz/image/upload/v1725177277/DreamDiary/hbcrk5uxpuzikbgn3gct.jpg">
                                <% } %>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= dream.title %>
                            </h5>
                            <p class="card-text">
                                <small class="text-muted">
                                    by <%= dream.author.username %>
                                        <%= new Date(dream.date).toLocaleDateString('en-GB') %>
                                </small>
                            </p>
                            <p class="card-text">
                                <%= dream.description %>
                            </p>
                            <p class="card-text">
                                <% const isLiked=currentUser ? dream.like.includes(currentUser._id) : false %>
                                <span id="likeButton" data-dream-id="<%= dream._id %>" style="font-size: 2em; cursor: pointer; 
                                color: <%= isLiked ? 'Tomato' : 'Black' %>;">
                                <i class="fa-<%= isLiked ? 'solid' : 'regular' %> fa-heart" title="like"></i>
                                </span>
                                <span id="likeCount" style="font-size: 1em; margin-left: 5px;">
                                <%= dream.like.length %>
                                </span>
                            </p>
                            <a class="btn btn-dark" href="/dreams/<%= dream._id %>">View</a>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
                <% } else { %>
                    <p>No dreams found.</p>
                    <% } %>
</div>